html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/libs/foundation/css/foundation.min.css')
        link(rel='stylesheet', href='/stylesheets/src/main.css')
        script(src='/javascripts/libs/foundation/js/vendor/jquery.js')
        block head
    body
        nav(class="top-bar")
            ul(class="title-area")
                li(class="name")
                    h1
                        a(href="/") Quick Board
            section(class="top-bar-section")
                ul(class="left")
                    li(class="divider hide-for-small")
                    li
                        a(href="/board/") Create New Board
                    li(class="divider hide-for-small")
        block content
